<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fake News Detector API</title>
  </head>
  <body>
    <h1>Fake News Detector API</h1>
    <form onsubmit="checkLink(); return false;">
      <input type="url" id="url" name="url" required placeholder="ex: http://www.sensacionalista.com.br/2017/09/26/stf-decide-hoje-se-video-de-aecio-explicando-mala-de-r2-mi-representara-brasil-no-oscar/" />
      <input type="submit" value="Check" />
    </form>
    <code id="result"></code>
    <script type="text/javascript">
      const parseJson = (x => x.json());

      const categories = fetch("/categories").then(parseJson);

      const checkLink = () => {
        const url = document.getElementById("url").value;

        Promise.all([
          categories,
          fetch("/votes?url=" + encodeURIComponent(url)).then(parseJson)
        ]).then(([categories, votes]) => {
          document.getElementById("result").innerHTML = JSON.stringify(
            votesByCategory(categories, votes)
          );
        });
      }

      const votesByCategory = (categories, votes) =>
        votes.map(vote => ({
          ...vote,
          category_name: categories.find(
            category => category.id == vote.category_id
          ).name
        })).reduce(
          (acc, vote) => ({
            ...acc,
            [vote.category_name]: vote.count
          }),
          {}
        );
    </script>
  </body>
</html>
